extends layout.jade

block content
    h2#header="Donate to " + organization
    form(id="checkout", method="post", action="/checkout")
        div(id="dropin")
        div(class="row")
            div(class="col-md-4 col-md-offset-4")
                button(type="submit",class="btn btn-default btn-lg btn-block outline")= "Donate " + amount

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js")
    script(src="https://js.braintreegateway.com/v2/braintree.js")
    script(src="/js/braintree.js")
    link(rel='stylesheet', href='/stylesheets/braintree.css')
