extends layout.jade


block content


    div(class="container-fluid")
        form(name="newOrgReg", enctype='application/json', action="/newOrganization", method="post")
            div(class="row")
                div(class="col-md-4 col-md-offset-4")
                    input(id="name" type="text" , class = " form-control input-orgForm" , placeholder = "Organization Name")
            div(class="row")
                div(class="col-md-4 col-md-offset-4")        
                    textarea(id="description" class="form-control input-orgFrom input-orgDesc" rows="3" ,placeholder = "Descriptions of your Organization")
            div(class="row")
                div(class="col-md-4 col-md-offset-4")        
                    input(id="tUsername" type="text", class="form-control input-orgForm", placeholder="Twitter Username")        	
            div(class="row")
                div(class="col-md-4 col-md-offset-4")        
                    input(id="email" type="email", class="form-control input-orgForm", placeholder="awesomeCharity@doGoodThings.org")
            div(class="row")
                div(class="col-md-4 col-md-offset-4")        
                    input(id="phone" type="number", class="form-control input-orgForm", placeholder="Phone Number")
            div(class="row")
                div(class="col-md-4 col-md-offset-4")        
                    input(id="account" type="number", class="form-control input-orgForm", placeholder="Account Number")
            div(class="row")
                div(class="col-md-4 col-md-offset-4")        
                    input(id="routing" type="number", class="form-control input-orgForm", placeholder="Routing Number")
            div(class="row")
                div(class="col-md-4 col-md-offset-4")
                    input(type="submit", class="btn btn-orgForm btn-lg btn-block outline")

       //
            input(type="submit" )//,class="btn btn-default btn-lg btn-block outline")
            account,routing, email,phone,name,descr, twitter, website address. 
            input(type="submit" ,value = "SUBMIT BITCH" ,class="btn btn-orgForm btn-lg btn-block outline")
        
    