extends layout.jade

block content
    - organization ? true : organization = '';
    h2#header="Donate to @" + organization
    div(class="container payment-shift")
        div(class="col-md-3 col-md-offset-4")
            form(id="checkout", method="post", action="/checkout")
                div(id="dropin")
                if !amount
                    div(class="row")
                        input(id="amount" type="text" , class = "form-control input-orgForm" , placeholder = "Amount")
                - amt = amount; if (!amt) amt = '';
                div(class="row")
                    button(type="submit",class="btn btn-orgForm btn-lg btn-block outline no-margin-below", disabled)= "Donate " + amt
                    p Donation coming soon.  We must first set a few things up with the charity.  Sorry for any inconvenience.

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js")
    script(src="https://js.braintreegateway.com/v2/braintree.js")
    script(src="/js/braintree.js")
    link(rel='stylesheet', href='/stylesheets/braintree.css')
