div(class="btn-group",role="group",aria-label="...")
	button(type="button",class="btn btn-default") Left
	button(type="button",class="btn btn-default") Middle
	button(type="button",class="btn btn-default") Right