body {
	margin: 0px;
	background-image: url('/images/background_img.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;

	font-family: 'Jura', sans-serif;
}

h1 {
	color: #FFF;
	text-align: center;
	font-family: 'Jura', sans-serif;
	font-weight: 600;
	font-size: 80px;
	margin-top: 200px;
	position: center;
}

h2 {
	color: #162B55;
	text-align: center;
	font-family: 'Jura', sans-serif;
	font-weight: 600;
	font-size: 60px;
	margin-top: 30px;
	margin-bottom: 10px;
	position: center;
	opacity: 0.8;
}

h5 {
	color: #162B55;
	text-align: center;
	font-family: 'Jura', sans-serif;
	font-weight: 600;
	font-size: 60px;
	margin-top: 330px;
	margin-bottom: 10px;
	position: center;
	opacity: 0.8;
}

h3 {
	color: black;
	text-align: center;
	font-family: 'Jura', sans-serif;
	font-weight: 400;

}

h4 {
	color: #FFF;
	text-align: center;
	font-family: 'Jura', sans-serif;
	font-weight: 400;
	opacity: 0.6;
	margin-top: 9px;
	position: center;
}


p{
	color: #FFF;
	text-align: center;
	font-family: 'Jura', sans-serif;
	font-weight: 400;
	opacity: 0.8;
	margin-top: 9px;
	position: center;
}
p.black{
	color: black;
	margin-left: 15px;
	margin-right: 15px;
}

.curved-border
{
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border-color: rgba(190, 190, 190, 0.9);
	border-style: solid;
	width: 100%;
	height: 200px;
	margin-bottom: 30px;
}

.twitter-feed
{
	width: 100%;
	height: 200px;
	margin-left: 60px;
	opacity: 1;
}

.table {
	background-color: rgba(190, 190, 190, 0.6);
	color: black;
}

.container-fluid{
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
.organization-container {
	margin-top: 300px;
	background-color: rgba(240, 240, 240, 0.5);
}
.organization-list {
	background-image: url('/images/org_img.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom;
}
.btn-default {
	margin-top: 90px;
}

.btn.outline {
    background: none;
    padding: 12px 22px;
}
.btn-default.outline {
    border: 2px solid #FFF;
    color: #FFF;
}
.btn-default.outline:hover, .btn-default.outline:focus, .btn-default.outline:active, .btn-default.outline.active, .open > .dropdown-toggle.btn-default  {
    color: #FFF;
    border-color: #FFF;
    background: rgba(255, 255, 255, 0.2);
}
.btn-default.outline:active, .btn-default.outline.active  {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}
.input-orgForm{
	height:50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    margin-top: 9px;
     
}
.input-orgDesc{
	margin-top:9px;
	font-size:18px;
}
/*this is to keep a spinner off of the end of number type inputs*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.btn-orgForm{
	margin-top: 9px;
	border: 2px solid #FFF;
    color: #FFF;
    margin-bottom: 80px;
}

.btn-orgForm.outline:hover, .btn-orgForm.outline:focus, .btn-orgForm.outline:active, .btn-orgForm.outline.active, .open > .dropdown-toggle.btn-default  {
    color: #FFF;
    border-color: #FFF;
    background: rgba(255, 255, 255, 0.2);
}
.btn-orgForm.outline:active, .btn-orgForm.outline.active  {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}


::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-button {
	width: 8px;
	height:5px;
}
::-webkit-scrollbar-track {
	background:#eee;
	border: thin solid lightgray;
	box-shadow: 0px 0px 3px #dfdfdf inset;
	border-radius:10px;
}
::-webkit-scrollbar-thumb {
	background:#999;
	border: thin solid gray;
	border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
	background:#7d7d7d;
}			



/*

# sourceMappingURL=main.css.map 

*/
